name: Deploy to Netlify
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache node modules & npx
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            ~/.cache
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build Project
        run: |
          yarn build
          cp netlify.toml dist/

      - name: Import .env to Netlify
        if: ${{ hashFiles('.env') != '' }}
        run: npx netlify-cli env:import .env --replace-existing --scope build
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      - name: Deploy to Netlify
        id: deploy
        uses: nwtgck/actions-netlify@v3
        with:
          publish-dir: './dist'
          production-deploy: true
          netlify-config-path: './dist/netlify.toml'
          deploy-message: 'Deploy from ${{ github.sha }} (${{ github.ref_name }})'
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      - name: Output Deploy URL
        run: echo "Deployed to ${{ steps.deploy.outputs.deploy-url }}"
